body{
    background-color:#091f44;
}

.randomArticle {
    text-align: center;
    padding:  10px;
    color: white;
    font-size: 20px;
    width: 400px;
    margin: 20px auto;
}
.search {
    margin: 10px auto;
    width: 400px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}
a:active {
    color: white;
}

.search{
    background-color: white;
    padding: 2px;
}

#form{
    background-color: #d89134;
}
input {
    margin: 25px auto;
    height: 20px;
}

#content {
    width: 80%;
    margin: 10px auto;
}
.content_box {
    border: 2px solid  #d89134;
    background-color: #C6B594;
    padding: 2px;
}
.content_header {
    height: 20px;
    color: black;
    padding: 2px;
}
.content_content {
    color: black;
    padding: 2px;
    line-height: 20px;
}
h3>a {
    color: blue;
}
p>a {
    color: black;
}

